@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET @System.Configuration.ConfigurationManager.AppSettings["Region"]</h1>
    <p>Session ID: @Session.SessionID</p>
    <p>New Session?: @Session.IsNewSession</p>
</div>
